.users-general{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 17.5vw;
	min-height: 100vh;
	padding-top: 20px
}

.dash-users-admin-banner{
	width: 80vw;
	min-height: 50vh;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../../../assets/black-people-office.jpg);
	border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-users-admin-banner-content{
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: white;
	font-family: Monda;
	justify-content: flex-end;
	align-items: flex-start;
	max-width: 100%;
	min-height: 50vh;
}

.dash-users-admin-banner-content-h3{
	font-size: 25px
}


@media screen and (max-width: 1000px){
	.users-general{
		padding-top: 0px;
		max-width: 100vw;
		margin-left: 0px;
	}
	.dash-users-admin-banner{
		width:  100vw;
	}
}