.dash-product-quotation{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 17.5vw;
	min-height: 100vh;
	padding-top: 20px
}

.dash-product-quotation-admin-banner{
	width: 80vw;
	min-height: 30vh;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../../../../../assets/coppercathode.jfif);
	border-radius: 5px;
}

.dash-product-quotation-admin-banner-content{
	display: flex;
	flex-direction: column;
	padding: 10px;
	color: white;
	font-family: Monda;
	justify-content: flex-end;
	align-items: flex-start;
	max-width: 100%;
	min-height: 50vh;
}

.dash-product-quotation-admin-banner-content-h3{
	font-size: 25px
}

.dash-product-quotation-admin-content{
	margin: auto;
	min-width: 80vw;
}


@media screen and (max-width: 1000px){
	.dash-product-quotation{
		margin-left: 0px;
		padding-top: 0px;
	}
	.dash-product-quotation-admin-banner{
		max-width: 100%;
		border-radius: 0%;
	}
}