.auth-banner{
	height: 500px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.955), rgba(0, 0, 0, 0.784)), url(../../../assets/ship2.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
	position: relative;
	bottom: 20px;
	z-index: 15;
}

.auth-banner-content{
	width: 90vw;
	margin: auto;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
}

.auth-banner-h3{
	font-size: 30px;
	font-family: Monda;
	color: white;
	text-decoration: underline;
}

.auth-banner-p{
	font-size: 24px;
	color: white;
}

@media screen and (max-width: 900px){
	.auth-banner{
		height: 80vh;
	}
}